*{
	padding: 0;
	margin: 0;
	border: 0;
}
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav,footer,header,aside{display: block;}
html, body{
	height: 100%;
	width: 100%;
	font-style: 100%;
	line-height: 1;
	font-style: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}
h1,h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}
/* ----------------------------------------------------------- */
:root {
  color: #000000;
  --gold: #9d8665;
  --red: #710707;
  --white: #ffffff;
  --bg-color: #030303;
  --font1: 80px;
  --font2: 28px;
  --font3: 22px;
}

html {
    scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto' serif;
    background-color: var(--white);
}

.header {
    background-color: var(--bg-color);
    padding: 0 20px;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0px;
}

.header-li {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-size: var(--font3);
    letter-spacing: 2px;
    font-weight: 100;
    padding: 10px;
    transition: 0.3s;
}

.header-li:hover {
    color: var(--gold);
}

.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 199px;
}

.logo svg {
    max-width: 100%;
    height: auto;
    display: block;
}

/* WELCOME */

.welcome {
    width: 100%;
    background-color: var(--bg-color);
    padding-bottom: 120px;
}

.wlc-container {
    position: relative;
    display: flex;
    align-items: stretch;
}

h1 {
    font-family: 'Forum';
    font-size: var(--font1);
    letter-spacing: 5px;
    line-height: 90px;
    color: var(--white);
    padding: 10px 0;
    margin-bottom: 10px;
}

.wlc-left{
    position: absolute;
    top: 20%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30px;
}

.wlc-text {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font2);
    font-weight: 200;
    letter-spacing: 2px;
    color: var(--white);
    margin-bottom: 40px;
}

.louvre-btn {
    display: inline-block;
    background-color: var(--red);
    color: var(--white);
    font-size: var(--font3);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 25px 64px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.louvre-btn:hover {
    cursor: pointer;
    background-color: var(--gold);
}

.wlc-right {
    display: flex;
    justify-content: end;
    flex: 1;
    overflow: hidden;
}

.wlc-img img {
    max-height: 750px;
    height: 100%;
    height: auto;
    display: block;
}

.wlc-slider {
    display: flex;
    justify-content: end;
    align-items: end;
    position: absolute;
    z-index: 1;
    top: 92%;
}

/* VISITING */

.visiting {
    height: 1116px;
    margin-bottom: 10px;
}

.vst-h2 {
    font-family: 'Forum';
    font-size: var(--font1);
    letter-spacing: 5px;
    line-height: 90px;
    color: var(--gold);
    border-bottom: 3px solid var(--red);
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.vst-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px 40px;
    margin-top: 75px;
}

.vst-card {
    flex: 1 1 calc(33.333% - 40px);
    max-width: 424px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vst-h {
    font-family: 'Forum';
    font-size: 32px;
    letter-spacing: 5px;
    color: var(--bg-color);
    border-bottom: 2px solid var(--red);
    padding-bottom: 4px;
    margin-top: 20px;
}

.vst-p {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font3);
    font-weight: 100;
    color: #000000;
}

.vst-a {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 100;
    color: #000000;
}

/* EXPLORE */

.explore {
    height: 865px;
    background-color: var(--bg-color);
    color: #ffffff;
    margin-bottom: 75px;
}

.exp-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.exp-left {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 30;
    max-width: 660px;
}

.exp-right {
    display: flex;
    justify-content: end;
    align-items: start;
}

.exp-img-aft {
    max-height: 700px;
    height: 100%;
    display: block;
    margin-top: 85px;
}

.exp-h2 {
    font-family: 'Forum';
    font-size: var(--font1);
    letter-spacing: 5px;
    line-height: 90px;
    border-bottom: 3px solid var(--red);
    padding-bottom: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
}

.exp-p {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font3);
    font-weight: 100;
    line-height: 38px;
    margin-bottom: 20px;
}

.exp-span {
    color: var(--gold);
}

/* VIDEO */

.video {
    max-height: 1246px;
    color: #000000;
    margin-bottom: 75px;
}

.video-text {
    display: flex;
    justify-content: space-between;
}

.video-h {
    font-family: 'Forum';
    color: var(--gold);
    font-size: var(--font1);
    letter-spacing: 5px;
    line-height: 90px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.video-p {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font3);
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 20px;
    max-width: 720px;
}

.video-yt {
    max-width: 1440px;
    width: 100%;
}

/* GALLERY */

.gallery {
    background-color: var(--bg-color);
    color: var(--white);
    padding-top: 70px;
    margin-bottom: 75px;
}

.gallery-h {
    font-family: 'Forum';
    color: var(--white);
    font-size: var(--font1);
    letter-spacing: 5px;
    line-height: 90px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.picture-container {
    position: relative;
    height: 2125px;
    overflow-y: hidden;

}

.picture-inner-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 125px;
    flex-wrap: wrap;
}

.gal-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 456px;
    width: 100%;
}

.gal-column img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.tall-column {
    margin-top: -50px;
    margin-bottom: -80px;
}

.picture-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #030303 100%);
    z-index: 1;
    pointer-events: none;
}

.tickets {
    margin-bottom: 75px;
}

 .tickets-h {
    font-family: 'Forum';
    font-size: var(--font1);
    letter-spacing: 5px;
    line-height: 90px;
    color: var(--gold);
    border-bottom: 3px solid var(--red);
    padding-bottom: 20px;
    margin-bottom: 60px;
 }

 .tickets-h4 {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font2);
    font-weight: 600;
 }
 
 label {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font3);
    font-weight: 300;
 }

 .tickets-p {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font3);
    font-weight: 200;
    margin-bottom: 10px;
 }

 .total {
    font-family: 'Roboto', sans-serif;
    font-size: var(--font2);
    font-weight: 600;
    letter-spacing: 1.65px;
    margin-top: 20px;
 }

.buy-btn {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font3);
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0px 38px;
    color: var(--white);
    background-color: #000000;
    border: none;
    border-radius: 2px;
    transition: 0.3s;
}

.buy-btn:hover {
    cursor: pointer;
    background-color: var(--gold);
    color: #000000;
}

.tickets-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.tickets-form {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    flex: 1;
}

.tickets-btn, 
.tickets-amount {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tickets-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}


.ticket-counter {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #000;
}

.ticket-counter button {
    max-width: 50px;
    height: 50px;
    background: none;
    border: none;
    font-size: 40px;
    font-weight: 600;
    cursor: pointer;
}

.ticket-counter input {
    font-family: 'Roboto', sans-serif;
    width: 50px;
    height: 50px;
    text-align: center;
    border: none;
    font-size: 22px;
}

 .prlx {
    background-image: url(museum-images/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 400px;
 }


 .contacts {
    margin-bottom: 75px;
 }

 .contacts-h {
    font-family: 'Forum';
    font-size: 80px;
    letter-spacing: 5px;
    line-height: 90px;
    color: #9D8665;
    border-bottom: 3px solid #710707;
    padding-bottom: 20px;
    margin-bottom: 60px;
    margin-top: 60px;
 }

 .contacts-content {
    display: flex;
    justify-content: space-between;
 }

 .c-l-h {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    max-width: 227px;
    margin-bottom: 60px;
 }
 
 .contacts-li {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 25px;
 }

 .link-contacts {
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 25px;
    transition: 0.3s;
 }

 .link-contacts:hover {
    color: var(--gold);
 }

 .footer {
    background-color: var(--bg-color);
 }

 .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px 50px 60px 50px;
}

.footer-li {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-size: var(--font3);
    letter-spacing: 2px;
    font-weight: 100;
    padding: 10px;
    transition: 0.3s;
}

.footer-li:hover {
    color: var(--gold);
}

.footer-nav-list-top {
    display: flex;
    gap: 40px;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-left: 120px;
}

.footer-social {
    display: flex;
    gap: 25px;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 80px;
}

.footer-social ul {
    display: flex;
    gap: 25px;
}

.footer-social img {
    max-width: 48px;
    max-height: 48px;
    border: 1px solid var(--white);
    border-radius: 50%;
    padding: 10px;
    filter: brightness(100) invert(0);
    transition: 0.3s;
}

.footer-social img:hover {
    filter: invert(74%) sepia(27%) saturate(400%) hue-rotate(358deg) brightness(120%) contrast(93%);
}

.logo {
    display: flex;
    align-items: center;
    max-width: 199px;
}

.logo svg {
    max-width: 100%;
    height: auto;
    display: block;
}

.footer-line {
    border-top: 3px solid #666;
    margin: 2px 0px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  color: var(--white);
  /* flex-wrap: wrap; */
  font-family: Roboto;
  font-weight: 200;
  font-size: var(--font3);
  letter-spacing: 2px;
}
